{:deps    {org.clojure/clojure    {:mvn/version "1.10.1"}
           org.clojure/test.check {:mvn/version "0.10.0"}
           tick                   {:mvn/version "0.4.17-alpha"}}
 :paths   ["src/main" "resources"]
 :aliases {:test {:extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-541"}}
                  :extra-paths ["test"]}}}
