{:deps    {}
 :paths   ["src/main" "resources"]
 :aliases {:test      {:extra-deps  {org.clojure/clojure        {:mvn/version "1.10.1"}
                                     org.clojure/test.check     {:mvn/version "0.10.0"}
                                     lambdaisland/kaocha        {:mvn/version "0.0-541"}
                                     nubank/matcher-combinators {:mvn/version "2.1.1"}}
                       :extra-paths ["test"]}
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "clj-kondo.main"]}}}
