;; shadow-cljs configuration
{#_#_:source-paths
    ["src/dev"
     "src/main"
     "src/test"]

 :deps        {:aliases [:cljs]}

 :socket-repl false
 :nrepl       false

 :builds      {:script {:target           :node-script
                        :main             nl.epij.eledger.cli/-main
                        :output-to        "target/eledger.js"
                        :devtools         {:enabled false}
                        :compiler-options {#_#_:optimizations :advanced}}}}
